
/* .bandpics {
width: 10%;
height: 10%; 
} */

body{
    background-color: rgba(249, 243, 243, 0.995);
}

header{
    background-color: #0096c7;
}

h1{
    text-indent: 30px;
}

.h1{
    background-color: #0096c7;

}
h2{
    text-align: center;
    font-size: 60px;
    padding-top: 30px;
    padding-bottom: 15px;
}
h5{
    font-size: 50px;
}
.h5p{
    font-size: 50px;
}

nav{
    border-bottom: 1.5px solid black;
    background-color: #0096c7;
}

#submitButton{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    background-color: #e5e5e5 ;
    position: relative;
    top: -25px; 
    left: 1140px;
}

#submitButton:hover {
    background-color:#55a630;
    font-size: 25px;
}

li{
    display: inline-block;
    padding-left: 100px;
    padding-right: 100px;
}
/* #bandName{
    display: table-column;
} */


.venue-items{
    text-align: left;
}



#venue-week #venue{
    text-align: left;
    font-family: serif;
    font-weight: 700;
}


.bandpics{
    width:550px;
    height: 550px;
    padding-right:  50px;
    padding-left: 25px;
    padding-top: 20px;
    padding-bottom: 50px;
}

/* .carousel-inner{
    width: 900px;
    height: 1550px;
    padding-right:  50px;
    padding-left: 25px;
    padding-top: 20px;
    padding-bottom: 50px;
} */

.img-credit{
    font-size: 20px;
    text-indent: 850px;
}
.img1, .img2, .img3, .img4, .img5{
    font-size: 20px;
    text-indent: 850px;
}

.carousel-item img{
    width: 400px;
    height: 625px;
    padding-right:  50px;
    padding-left: 25px;
    padding-top: 20px;
    padding-bottom: 50px;
}

#lineUp{
    text-align: center;
}

.upcoming{
    border-bottom: 1.5px solid black;
}

input{
    background-color: transparent skyblue;
    font-size: 300px;
}

#venue{
    font-size: 80px ;
    background-color: #9a031e;
    color: #fb8b24;
    text-align: center;    
}

#check-out-venue{
    text-align: center;
}