
/* .bandpics {
width: 10%;
height: 10%; 
} */

body{
    background-color: rgba(249, 243, 243, 0.995);
}

header{
    background-color: #0096c7;
}

h1{
    text-indent: 30px;
}

.h1{
    background-color: #0096c7;

}
h2{
    text-align: center;
    font-size: 60px;
    padding-top: 30px;
    padding-bottom: 15px;
}
h5{
    font-size: 50px;
}
.h5p{
    font-size: 50px;
}

nav{
    border-bottom: 1.5px solid black;
    background-color: #0096c7;
}

/* #submitButton{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    background-color: #e5e5e5 ;
    position: relative;
    top: -25px; 
    left: 840px;
}

#submitButton:hover {
    background-color:#55a630;
    font-size: 25px;
} */

li{
    display: inline-block;
    padding-left: 100px;
    padding-right: 100px;
}

/* re: index.html page */
.venue-items{
    text-align: left;
}

#venue-week #venue{
    text-align: left;
    font-family: serif;
    font-weight: 700;
}

#venue{
    font-size: 80px ;
    background-color:#424242;;
    color: white;
    text-align: center;    
}

#check-out-venue{
    text-align: center;
}
#venue-motto{
    font-size: 45px;
    color:#bf0603;
    font-family: Brush Script MT, Brush Script Std, cursive;
}

#about-venue{
    margin: 20px;
    padding: 20px;
}

/* button for download food drink menu */
.btn {
    background-color:#4361ee;
    border: solid;
    color: white;
    padding: 10px 50px 20px;
    cursor: pointer;
    font-size: 13px;
    margin: 15px;
    
  }

.btn:hover {
    background-color: #2d00f7;
  }

.img1, .img2, .img3, .img4, .img5{
    font-size: 20px;
    text-indent: 850px;
}

.carousel-item img{
    width: 400px;
    height: 625px;
    padding-right:  50px;
    padding-left: 25px;
    padding-top: 20px;
    padding-bottom: 50px;
}


/* re: vote.html page */
.bandpics{
    width:550px;
    height: 550px;
    padding-right:  50px;
    padding-left: 25px;
    padding-top: 20px;
    padding-bottom: 50px;
}

#submitButton{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    background-color: #e5e5e5 ;
    position: relative;
    top: -25px; 
    left: 840px;
}

#submitButton:hover {
    background-color:#2d00f7;
    color: white; 
    font-size: 25px;
}
.vote-img-credit{
    text-indent: 25px; 
    padding-left: 20px;
    padding-top: 10px;
    color: #333;
    font-size: 14px;
    font-style: italic;
    font-family: 'Verdana';
}
#lineUp{
    text-align: center;
}



/* .carousel-inner{
    width: 900px;
    height: 1550px;
    padding-right:  50px;
    padding-left: 25px;
    padding-top: 20px;
    padding-bottom: 50px;
} */



/* .img1, .img2, .img3, .img4, .img5{
    font-size: 20px;
    text-indent: 850px;
}

.carousel-item img{
    width: 400px;
    height: 625px;
    padding-right:  50px;
    padding-left: 25px;
    padding-top: 20px;
    padding-bottom: 50px;
} */

/* for vote.html page */
/* #lineUp{
    text-align: center;
} */

.upcoming{
    border-bottom: 1.5px solid black;
}

input{
    background-color: transparent skyblue;
    font-size: 300px;
}

/* info on index.html re: venue section */
/* #venue{
    font-size: 80px ;
    background-color:#424242;;
    color: white;
    text-align: center;    
}

#check-out-venue{
    text-align: center;
}
#venue-motto{
    font-size: 45px;
    color:#bf0603;
    font-family: Brush Script MT, Brush Script Std, cursive;
}

#about-venue{
    margin: 20px;
    padding: 20px;
}

/* button for download food drink menu */
/* .btn {
    background-color:#4361ee;
    border: solid;
    color: white;
    padding: 10px 50px 20px;
    cursor: pointer;
    font-size: 13px;
    margin: 15px;
    
  }

.btn:hover {
    background-color: #2d00f7;
  } */ 


/* css for contest page */
#event-list{
    margin: 20px;
    padding: 20px;
  }

  #event-date{
      text-align: center;
      font-size: 40px;
  }

:nth-of-type(1) #bandName{
    background-color: blue; 
    color: white;
}

:nth-of-type(1) #openSlot{
    background-color:green; 
    color:white;
}